@import "tailwindcss";

@theme {
  --color-primary: #1A2B4C;
  --color-secondary: #F2994A;
  --color-tertiary: #3F2600;
  --color-neutral: #77777A;
  --color-success: #36B37E;
  --color-alert: #FF5630;

  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}
